
<LINK REL=StyleSheet HREF="/bookmarks/static/css/shared.css" TYPE="text/css" >
	

<div class="container">
	<form id="search" method="get" action="/bookmarks/search/">
		<input placeholder="search" name="q"/>
	</form>
	<h1>Bookmarks.js</h1>
	
	<nav>
		<a href='/bookmarks/'>bookmarks</a>
		<a href='/bookmarks/new/'>new</a>
	</nav>
	{{html body}}
</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"   language="javascript"   type="text/javascript"></script>

<script src="/bookmarks/static/js/shared.js"   language="javascript"     type="text/javascript"></script>
\